---

import { config } from "@/shared/config";

import "./styles/global.css";

const { description, slug, tags, title } = Astro.props;

const htmlTitle = `${config.meta.name} | ${title}`;
const keywords = tags || config.meta.keywords;

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8' />
        <title>{htmlTitle}</title>
        <link href={`${config.url}${slug}`} rel="canonical" />
        <link href="/favicon.svg" rel="icon" type="image/x-icon" />
        <meta content="Name" name="application-name" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content={description} name="description" />
        <meta content={keywords.join(", ")} name="keywords" />
        <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/datepicker.min.js" />
        <script is:inline src="/js/theme.js" />
    </head>
    <body class="prose max-w-none bg-brand-background">
        <slot />
    </body>
</html>
