---

import { config } from "@/shared/config";

import "./styles/global.css";

const { description, title, tags, slug } = Astro.props;

const htmlTitle = `${config.name} | ${title}`;
const keywords = tags || config.meta.keywords;

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8' />
        <title>{htmlTitle}</title>
        <link href={`${config.url}${slug}`} rel="canonical" />
        <link type="image/x-icon" href="/favicon.ico" rel="icon" />
        <meta name="application-name" content="Name" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content={description} name="description" />
        <meta content={keywords.join(", ")} name="keywords" />
        <script src="/js/theme.js" is:inline />
    </head>
    <body class="prose max-w-none bg-brand-background">
        <slot />
    </body>
</html>
